In [2]:
import pandas as pd
import seaborn as sns 

iris = sns.load_dataset("iris")
result = iris.loc[:, ['sepal_length', 'species']]
result.head(1)

   sepal_length species
0           5.1  setosa

In [4]:
result.to_excel("dataset/iris_excel_file.xlsx", 
                sheet_name='Sheet_name_1', 
                index=False)

# Group By 연산
- 집계함수 같이 활용 
- 분석의 목적 : 그룹별로 비교하고 싶을 때 사용

In [5]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

## 성별로 tip 평균 구하기

In [9]:
tips.groupby('sex', observed=True)['tip'].mean()

# 통계적으로 유의한가 : 기초 통계 영역으로 넘어감.

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

## 요일별 총 결제 금액 구하기

In [14]:
# 요일별 총 결제 금액 구하기
# 집계함수: sum()
tips.groupby('day', observed=True)['total_bill'].sum()

day
Thur    1096.33
Fri      325.88
Sat     1778.40
Sun     1627.16
Name: total_bill, dtype: float64

## 요일 & 성별로 팁 평균

In [15]:
tips.groupby(['day', 'sex'], observed=True)['tip'].sum()

day   sex
Thur  Male       89.41
      Female     82.42
Fri   Male       26.93
      Female     25.03
Sat   Male      181.95
      Female     78.45
Sun   Male      186.78
      Female     60.61
Name: tip, dtype: float64

## 식사 시간별 인원 수 평균
- time, size