# Tips 데이터셋 연습문제
- 다음 문제들을 풀어보세요. 각 문제는 tips 데이터셋을 사용합니다.

In [2]:
import pandas as pd
import seaborn as sns

# tips 데이터셋 불러오기
tips = sns.load_dataset('tips')
print("데이터 미리보기:")
print(tips.head())
print("\n")

데이터 미리보기:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 문제 1: 기본 통계
tips 데이터셋의 기본 통계 정보를 출력하세요. (describe() 메서드 사용)

In [4]:
# 코드

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [3]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

## 문제 2: 요일별 주문 수
요일(day)별 주문 수를 계산하고, 가장 많은 주문이 들어온 요일을 찾으세요.

In [3]:
# 코드

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [9]:
tips['day'].value_counts().index[0]

'Sat'

## 문제 3: 그룹 분석
인원(size)이 4명 이상인 그룹의 평균 총액과 평균 팁을 계산하세요.

In [6]:
# 코드

total_bill    29.312174
tip            4.218478
dtype: float64

In [10]:
size4_groups = tips.loc[tips['size'] >= 4 , :]
size4_groups.loc[:, ['total_bill', 'tip']].mean()

total_bill    29.312174
tip            4.218478
dtype: float64

## 문제 4: 고액 주문 분석
- 총액(total_bill)이 50달러 이상인 주문들의 평균 팁과 팁 비율을 계산하세요.

In [5]:
# 코드

고액 주문 평균 팁: 10.0
고액 주문 평균 팁 비율: 0.19681165124975397

In [17]:
over50_df = tips.loc[tips['total_bill'] >= 50, :]
result = over50_df.loc[:, 'tip'] / over50_df.loc[:, 'total_bill']
result.mean()

np.float64(0.19681165124975397)

## 문제 5
- numpy + pandas 데이터프레임
- 이름, 키와 몸무게 데이터셋 5개 생성
- numpy로 bmi 함수 구현
  + BMI = 체중(kg) / 신장(m)^2
- pandas 데이터프레임에 열 추가 (bmi)

In [ ]:
def calculate_bmi(신장, 체중) : 
    # 단위변환
    # cm => m
    신장m = 신장cm / 100
    #bmi = 체중 / 신장m **2
    #Numpy 적용
    return bmi

In [28]:
def calculate_bmi(hight_cm, weight_kg) : 
    # 단위변환
    # cm => m
    hight_m = hight_cm / 100
    bmi = weight_kg / hight_m **2
    #bmi = 체중 / 신장m **2
    #Numpy 적용
    bmi = np.array(weight_kg) / np.square(hight_m)
    return bmi

calculate_bmi(160,50)

np.float64(19.531249999999996)

In [22]:
import numpy as np

# 데이터 생성
data = {
    '이름': ['김철수', '이영희', '박민수', '정수진', '최동욱'],
    '키': [175, 162, 180, 168, 177],  # cm
    '몸무게': [75, 52, 85, 57, 76]    # kg
}

df = pd.DataFrame(data)
df

    이름    키  몸무게
0  김철수  175   75
1  이영희  162   52
2  박민수  180   85
3  정수진  168   57
4  최동욱  177   76